@{
    ViewData["Title"] = "Home Page";
}

<body style="background-color:#9C9583">
    <div style="background-color:#EEE5D3">
        <div class="text-center">
            <h1 class="display-4" style="color:#A1A499; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ">Capstone Virtual Gem and Stone Shopping!</h1>
        </div>
        <div style="box-shadow: 10px 10px 5px grey; display:inline-block; margin-top:50px">
            <div style="float: left">
                <img style="height:150%; width:auto" src="~/resx/StonehengeLogo.png" />
            </div>
            <div style="float: inherit;color: #A1A499">
                <h4>
                    Feel free to have a look around this amazing store and if you find anything you like,
                    adding it to your cart is simply a click away!
                </h4>
                <h4>
                    Simply click the link above to start your shopping experience, or click the Checkout link to check out, its that easy!
                </h4>
            </div>

        </div>

    </div>
</body>
