@{
    ViewData["Title"] = "AddToCart";
}
@model ProductList
<body style="background-color:antiquewhite">
    <h1>
        AddToCart
    </h1>
    <p>
        @Model.Product has been added to your shopping list!
    </p>
    <div>
        <form>
            <input type="submit" asp-action="Index" value="Add more products" />
            <input type="submit" asp-action="Checkout" value="Proceed to Checkout" />
        </form>
    </div>
</body>
